// .awaken-content {
//   position: relative;
//   width: 55%;
//   display: flex;
//   flex-direction: row-reverse;
//   // justify-content: center;
//   // align-items: center;
  

//   padding: 14px 8px 0 0;
// }
// .awaken-content > .img{
//   flex: 1 0 0%;
//   text-align:right;
// }
// .awaken-content > .banner-description{
//   flex: 2 0 0%;
//   /* and eventually */
  
//   margin:auto 0;
// }
.container {
  background-color: lightgrey;
  display: flex;
  flex-direction: row-reverse;
  
  
}
.container > .image {
  flex: 1 1 0%;
  text-align:right;/* and here*/
}
.image > img {
  vertical-align:top;/* here */
  max-width: 100%;
  max-height: 400px;
}
.container > .text {
  flex: 2 0 0%;
  /* and eventually */
  
  margin:auto 0;
}

.awaken-headline {
  font-size: 4.7rem;
  //   color: rgba(0, 0, 0, 0.9);
  color: #2977c9;
  font: "64px-apple-system, system-ui";
  font-weight: 200;
  line-height: 80px;
  padding-bottom: 12px;
}
.awaken-subtitle {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.9);
}
// .banner-img > img{
//   display: block;
//   max-width: 100%;
//   max-height: 300px;
  
  
// }
// .banner-description{
//   flex-grow: 8;
// }

.banner-container {
  position: relative;
}

.freemonth.freemonth--primary {
  background-color: #2977c9;
  color: #fff;
}

.freemonth.freemonth {
  display: flex;
  //   -webkit-box-align: center;
  align-items: center;
  min-height: 56px;
  height: auto;
  width: auto;
  float: left;
  //   box-shadow: none;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0 6px 12px 0;
  //   text-align: center;
}

.freemonth {
  font-size: "50px";
  line-height: 1.4;
  font-weight: 400;
  //   color: rgba(0, 0, 0, 0.6);
}
.freemonth.freemonth--muted {
  background-color: #666;
  // color: #000;
  border: solid 1px rgba(0, 0, 0, 0.6);
}
.freemonth.freemonth--muted:visited {
  color: black;
}
.freemonth.freemonth--primary:hover {
  color: #fff;
}
