.awaken-content{
    position: relative;
    width: 55%;
    
    padding: 14px 8px 0 0;
}

.awaken-headline {
    font-size: 4.7rem;
    line-height: 1.125;
    color: rgba(0,0,0,0.9);
    color: #2977c9;
    font-weight: 200;
    line-height: 80px;
    padding-bottom: 12px;
}
.awaken-subtitle {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    
}
.awaken-illustration {
    width:  560px;
    height: 560px;
    position: absolute; 
    top: 80px; 
    left: 380px; 
    width: 100%; 
}


.banner-container{
    display: flex;
    position: relative;
    
}