@import "../../../public//assets/stylesheet/variables.scss";

.navbar-container {
  position: fixed;
  
  width: 100%;
  // z-index: 100;
  height: 66px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  background: #fff;
  

  .navbar-left {
    height: 100%;
    align-items: center;
    color: #3e2272;
    margin-left: 10px;
    .navbar-links-container {
      // height: 80%;
      // width: 20%;
      align-items: center;
      margin-left: 20px;

      // a {
      //   margin-right: 0px;
      //   height: 100%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   position: relative;
      //   color: rgba(62, 34, 114, 0.5);
      // }

      .navbar-link {
        // padding-right: 15px;
        font-size: 14px;
      }
    }
  }
}
