@import "../../assets/stylesheet/variables.scss";
.courses-container {
  display: flex;
  flex-direction: column;
}

.explore-courses__heading {
  font-size: 3.8rem;
  color: rgba(0, 0, 0, 0.9);
  line-height: 60px;
  font-weight: 200;
  margin-left: 42px;
}
.course-list {
  display: flex;
  color: #2977c9;
}
.explore-courses__tab-toggles {
  width: 100vw;
}
ul,
ol {
  list-style: none;
}
.label {
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.row {
  display: flex;
}
.img-course {
  width: 20%;
  height: 50%;
}
.trend-course {
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  flex-shrink: 0;
  max-width: 100%;
}
.card-content {
  font-size: 1.3rem;
  // line-height: 1.33333;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 8px;
}
.icon {
  margin: 10px auto;
  display: block;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  border-radius: 3px;
  color: #2977c9;
  border: 2px solid #2977c9;
  padding: 0.25em 1em;
  transition: 0.5s all ease-out;
  &:hover {
    background-color: #2977c9;
    color: white;
  }
}
.users-desc {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4px;
  text-align: center;
}
.course-time {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 600;
  text-align: center;
}
.module-content {
  color: #666666;
}

.module-list {
  width: 100%;
  box-shadow: none;
  border-radius: 28px;
  padding: 8px 20px;
  margin: 0 6px 12px 0;
  text-align: center;
}
.module-list-items {
  min-height: 56px;
  height: auto;
  width: auto;
  float: right;
  background-color: rgba(0, 0, 0, 0.08);
  // -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 28px;
  padding: 8px 20px;
  margin: 0 130px 12px 0;
  text-align: center;
  color: #666666;
}
.show-more-less {
  margin-bottom: 15px;
}
.row1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.topics {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  line-height: 20px;
}
.section-content {
  display: flex;
}
.title-heading {
  font-size: 4.8rem;
  color: rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  line-height: 60px;
  padding: 20px 20px 20px 20px;
  font-weight: 200;
}
.right-course {
  flex-basis: 208px;
  flex-grow: 1;
  justify-content: flex-start;
}
.pill-subtitle {
  margin-top: 12px;
  margin-left: 70px;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
