$app-width: 550px;
$text-color: #777;
$list-bgcolor: #f5f5f5;
$hover-color: #1261EB;
* {
  font-family: monospace;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

input {
  width: $app-width;
  margin: 10px auto;
  display: block;
  padding: 10px;
  // text-align: center;
}

ul {
  list-style-type: none;
  width: $app-width;
  margin: 0 auto;
  padding: 0;
  li {
    background-color: $list-bgcolor;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    &:hover {
      background-color: darken($list-bgcolor, 1%);
    }
    a {
      position: absolute;
      left: 200px;
      color: $text-color;
    }
  }
}
